<div class="page-container">
  <div class="new-arrival-row color-{{ section.settings.color_scheme }}">
    <div class="new-arrival-box">
      <h2>{{ section.settings.title }}</h2>
      {% if section.settings.image %}
        <img src="{{ section.settings.image | img_url: 'medium' }}" alt="New Arrival Image" />
      {% endif %}
    </div>
    <div class="new-arrival-product">
      <div class="new-arrival-slider swiper">
        <div class="swiper-wrapper">
          {% assign new_arrivals = collections[section.settings.collection].products %}
          {% for product in new_arrivals limit: section.settings.product_limit %}
            <div class="swiper-slide">
              <div class="new-arrival-item">
                <div class="new-arrival-img">
                  <a href="{{ product.url }}">
                    <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="img-fluid" />
                  </a>
                </div>
                <div class="new-arrival-content">
                  <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                  {% comment %} <span class="rating-img">
                    <img src="{{ 'rating-icon.png' | asset_url }}" alt="Rating">
                  </span> {% endcomment %}
                </div>
                <div class="new-arrival-price_btn">
                  <div class="new-arrival-price">
                    {% if product.compare_at_price > product.price %}
                      <span class="price-regular">{{ product.price | money }}</span>
                      <s class="price-sale">{{ product.compare_at_price | money }}</s>
                    {% else %}
                      <span class="price-regular">{{ product.price | money }}</span>
                    {% endif %}
                  </div>
                  <div class="new-arrival-btn">
                    <a href="{{ product.url }}" class="btn">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "New Arrival Section",
  "class": "new-arrival-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "New arrival"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "New Arrival Image"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "scheme-4",
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Number of Products",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "New Arrival Section"
    }
  ]
}
{% endschema %}
<script>
   var swiper = new Swiper(".new-arrival-slider", {
      slidesPerView: 3,
      spaceBetween: 24,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
</script>
